@font-face{
	font-family:ValorantFont;
	src: url(../font/ValorantFont.ttf) format("truetype");
}

*{
	font-family:ValorantFont;
	margin: 0;
	padding: 0;
	background-image; #be2d4c;
}

#notsohamburgermenu a{
	font-size: 50px;
	bottom: -2px;
	align-items: center;
	justify-content: between;
	color: #ff4655;
}

#notsohamburgermenu::after{
	content: '';
	position: relative;
}

#index{
	background-color: #ebebe3;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	background-size: 100%;
	background-image: url(../images/index_bg.gif);
}

#movement{
	background-color: #ebebe3;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	background-size: 100%;
	background-image: url(../images/movement_bg.gif);
}

#aiming{
	background-color: #ebebe3;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	background-size: 100%;
	background-image: url(../images/aiming_bg.gif)
}

#thinking{
	background-color: #ebebe3;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	background-size: 100%;
	background-image: url(../images/thinking_bg.gif);
}

#otherguide{
	background-color: #ebebe3;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	background-size: 100%;
	background-image: url(../images/otherguides_bg.gif);
}

#about{
	background-color: #ebebe3;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	background-size: 100%;
	background-image: url(../images/about_bg.gif);
}

#contacts{
	background-color: #ebebe3;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	background-size: 100%;
	background-image: url(../images/contacts_bg.gif);
}

.title{
	color: #eae9e1;
	position: relative;
}

.nav{
	display: flex;
	padding: 35px;
	align-items: center;
	justify-content: space-between;
	background-color: #101c24;	
}

.nav ul li {
	list-style: none;
	position: relative;
	margin: 0 20px;
	width: 90%;
	padding-bottom: 5px;
}

.nav a{
	text-decoration: none;
	color: #eae9e1;
}

.nav ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #FFF;
	position: absolute;
	right: 0;
	bottom: 5px;
	transition: 0.50s;
}


.nav ul li:hover::after{
	width: 100%;
}


.logo{
	float: right;
}

.body{
	color: #101c24;
	position: relative;
	width: 50%;
	font-size: 20px;
	margin: 50px;
}


a{
	text-decoration: none;
}

a .button{
	border-color: white;
	color: #eae9e1;
	background-color: #ff4655;
	width: 250px;
	position: relative;
	padding: 50px 50px 50px 50px;
	cursor: pointer;
	margin: auto;
	display: flex;
	text-decoration: none;
	left: 750px;
	top: 50px;
	justify-content: center;
	transition: 0.5s;
	width: 15%
}

a .guide{
	border-color: white;
	color: #eae9e1;
	background-color: #ff4655;
	width: 50px;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
	margin: auto;
	left: 750px;
	top: 50px;
	text-align: center;
	transition: 0.5s;
	width: 15%
}

a .button:hover{
	background-color: #101c24;
}

a .guide:hover{
	background-color: #101c24;
}

.text{
	color: #eae9e1;
	padding: 15px 15px 15px 15px;
	margin: 50px;
	bottom: 75px;
	margin: auto;
	right: 100px;
	width: 50%;
	position: relative;
}

/*
 Due to unknown reasons, the paragraph texts are misaligned due to different button numbers and button sizes.
*/

.text{
	color: #eae9e1;
	padding: 15px 15px 15px 15px;
	margin: 50px;
	bottom: 150px;
	margin: auto;
	right: 100px;
	width: 50%;
	position: relative;
}


.page3text{
	color: #eae9e1;
	padding: 15px 15px 15px 15px;
	margin: 50px;
	bottom: 300px;
	margin: auto;
	right: 100px;
	width: 50%;
	position: relative;
}

.page4text{
	color: #eae9e1;
	padding: 15px 15px 15px 15px;
	margin: 50px;
	bottom: 375px;
	margin: auto;
	right: 100px;
	width: 50%;
	position: relative;
}


.page5text{
	color: #eae9e1;
	padding: 15px 15px 15px 15px;
	margin: 50px;
	bottom: 275px;
	margin: auto;
	right: 100px;
	width: 50%;
	position: relative;
}

.contactsandabouttext{
	color: #eae9e1;
	padding: 15px 15px 15px 15px;
	margin: 50px;
	bottom: 20px;
	margin: auto;
	right: 100px;
	width: 50%;
	position: relative;
}